* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
h1 {

}
body {
	background: rgb(233, 237, 237);
	padding: 15px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	/* grid-auto-flow: dense; */
}
.div-vert {
    grid-row: span 2;
}
.div-hor {
    grid-column: span 1;
}
.div-large {
    grid-column: span 2;
    grid-row: span 1;
}

.main-container > div {
    padding: 5px;   
    display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > div > img {
    object-fit: cover;
    border-radius: 20px;
    height: 100%;
    width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}
img:hover {
    transform: scale(1.04);
    box-shadow: 4px 4px 10px rgb(154, 124, 81);
}