<html lang="en">
<head>
    <title>valo-gallery</title>

    <link rel="stylesheet" href="/css/image-gallery.css">
</head>
<body>
    <h1>Valorant Agents</h1>

    <div class="main-container">
        <div class="div-vert">
            <img src="/assets/cypher.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/chamber.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/chamber.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/cypher.jpg" alt="">
        </div>
    </div>
</body>
</html>