<html lang="en">
<head>
    <title>valo-gallery</title>

    <link rel="stylesheet" href="/css/image-gallery.css">
</head>
<body>
    <h1>Valorant Agents</h1>

    <div class="main-container">
        <div class="div-vert">
            <img src="/assets/ver/cypher.jpg" alt="">
            <figcaption>may</figcaption>
        </div>
        <div class="div-hor">
            <img src="/assets/hor/fade.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/chamber-1.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/geko.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/oman.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/reyna.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/chamber.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/cypher.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/raze-iso-skye.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/cypher.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/reyna-sage-viper.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/kayo.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/jett.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/oman.jpg" alt="">
        </div>
        <div class="div-hor">
            <img src="/assets/hor/chamber.jpg" alt="">
        </div>
        <div class="div-vert">
            <img src="/assets/ver/cypher.jpg" alt="">
        </div>

    </div>
</body>
</html>